@font-face {
    font-family:'vazir';
    font-weight: normal;
    font-style: normal;
    src: url(../assets/fonts/Vazir.woff);
}
body,button{
    font-family: 'vazir';
}
input::placeholder{
    font-family: 'vazir';
}
input{
    font-family: 'vazir';
}